<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--映射文件的命名空间（namespace） 需要与 mapper接口的全类名 保持一致-->
<mapper namespace="community.mapper.CommentMapper">
    <sql id="selectFields">
        id,user_id,entity_type,entity_id,target_id,content,status,create_time
    </sql>
    <sql id="insertFields">
        user_id,entity_type,entity_id,target_id,content,status,create_time
    </sql>
    <!--映射文件中编写SQL的标签的id属性 需要与 接口中方法的方法名 保持一致-->
    <!-- *******************************增***************************************   -->
    <!-- insertComment -->
    <insert id="insertComment" parameterType="comment">
        insert into comment(<include refid="insertFields"></include>)
        values (#{userId},#{entityType},#{entityId},#{targetId},#{content},#{status},#{createTime})
    </insert>


    <!-- ********************************删**************************************   -->
    <!--  -->


    <!-- *********************************改*************************************   -->
    <!--  -->


    <!-- ********************************查**************************************   -->
    <!-- selectCommentsByEntity -->
    <select id="selectCommentsByEntity" resultType="comment">
        select <include refid="selectFields"></include>
        from comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
        order by create_time asc
    </select>

    <select id="countCommentsByEntity" resultType="int">
        select count(id)
        from comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
    </select>
    <select id="selectCommentsById" resultType="comment">
        select <include refid="selectFields"></include>
        from comment
        where status = 0
        and id=#{id}
    </select>
</mapper>